.button {
  padding: 10px 40px;
  margin-top: 20px;
  margin-left: 30px;
  border-style: solid;
  outline: none;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
}
